<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% include navigation.html %}
    </section>

    <section class="main-content">
      <a id="mycontent"></a>

    <!-- Project 1 -->
    <div id="twosided">
        <div id="left" style="float: left; max-width: 30%; margin-right: 20px; border: 0px solid #ccc;"> 
        <img src="images/project1.png" alt="Project 1" style="width: 100%;" />
        </div>
        <div id="right" style="float: right; max-width: 65%;">
        <p><strong>Title: Learning Algebraic Variety through Optimization</strong></p>
        <p>We applied numerical linear algebra techniques on a multivariate Vandermonde matrix to identify the generator of the vanishing ideal, reconstructing the true algebraic variety on which the data points lie. Additionally, we designed and implemented the iterative optimization algorithm, focusing on Sequential Quadratic Programming, to accurately determine vanishing polynomials, even in the presence of noisy data. <a href="https://github.com/273A-project/273A-Project">Project page.</a> </p>
        </div>
    </div>
    
    <div style="clear: both;"></div>
    
    <!-- Project 2 -->
    <div id="twosided" style="margin-top: 30px;">
        <div id="left" style="float: left; max-width: 30%; margin-right: 20px; border: 0px solid #ccc;"> 
        <img src="images/project2.png" alt="Project 2" style="width: 100%;" />
        </div>
        <div id="right" style="float: right; max-width: 65%;">
        <p><strong>Title: Reinforcement Learning with Mountain Car Game</strong></p>
        <p>In a group of four, we take a deep-dive into RL learning applied to a simple mountain car game with low-dimensional action and state spaces. We utilize this environment to study the effects of various state-of-the-art RL methods, explore the best parameters utilizing an epsilon-greedy policy scheme, and compare the results through graphical visualizations. <a href="https://github.com/oscaro00/Math156_Project">Project page.</a></p>
        </div>
    </div>
    
    <div style="clear: both;"></div>

      <!-- Add more projects similarly -->

      <footer class="site-footer" style="margin-top: 50px;">
        {% include footer_img2.html %}
        <span class="site-footer-credits">
          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        </span>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
